.typeBtn {
  background: #E4F0D0;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 2px;
  cursor: pointer;
  font-family: 'Rubik:wght@300', sans-serif;
  color: #738290;
  height: fit-content;
  width: fit-content;
  display: inline;
}

.typeBtn:focus {
  background: #C2D8B9;
  outline: none;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
}

.typeContainer{
  padding: 10px;
  border: solid;
  border-radius: 1px;
  border-color: #C2D8B9;
}