.typeBtn {
  background: #ededed;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 2px;
  cursor: pointer;
}

.typeBtn:focus {
  background: #e5e5e5;
  outline: none;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
}

.typeContainer{
  padding: 10px;
  border: solid;
  border-radius: 1px;
  border-color: aquamarine;
}