.navbar {
  width: 100%;
  font-family: 'Acme', sans-serif;
  font-size: larger;
  color:#738290;
  box-shadow: 0 2px 4px 0 #cfcbc4;
}

.navbar-default {
  width: 100%;
}

.navbar-nav {
  flex-direction: row;
}


.nav-item {
  margin: 10px;
}

.navbarItems {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;

}


.dropdown-menu {
  min-width:inherit;
}

.right-coner {
  display: flex;
  flex-direction: row;
}

.searchBtn{
  color:#738290;
  background-color: transparent;
  border: 3px solid;
  border-radius: 0 5px 5px 0 ;
}

.searchInput{
  color:#738290;
  border: 3px solid;

}
