.rollDice {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #fffffb;
  height: 600px;
  .diceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 4em;
    margin-right: 3em;
  }
  .submitBtn {
    width: 8em;
    padding: 1em;
    border: 0px;
    border-radius: 10px;
    align-self: center;
    cursor: pointer;
    -webkit-animation: glowing 1300ms infinite;
    -moz-animation: glowing 1300ms infinite;
    -o-animation: glowing 1300ms infinite;
    animation: glowing 1300ms infinite;
    font-family: "Acme", sans-serif;
    font-size: x-large;
    color: aliceblue;
  }

  .editBtn {
    color: #738290;
    font-family: "Acme", sans-serif;
    width: 11em;
    padding: 0.5em;
    margin-bottom: 0.5em;
    border: none;
    border-radius: 10px;
    margin-top: 3em;
    align-self: center;
    cursor: pointer;
  }

  .sideBtn {
    height: 100%;
    border: none;
    background-color: transparent;
    animation: mover 1s infinite alternate;
    font-size: x-large;
    color: #738290;
  }
}

.tagContainer {
  width: 100%;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.sideBar {
  border: solid;
  height: 100%;
  width: 400px;
  text-align: center;
  vertical-align: middle;
  line-height: 600px;
}

.tagTitle{
  color: #869D96;
  font-weight: 500;
}

@-webkit-keyframes glowing {
  0% {
    background-color: #738290;
    -webkit-box-shadow: 0 0 3px #738290;
  }
  50% {
    background-color: #a1b5d8;
    -webkit-box-shadow: 0 0 15px #a1b5d8;
  }
  100% {
    background-color: #738290;
    -webkit-box-shadow: 0 0 3px #738290;
  }
}

@keyframes glowing {
  0% {
    background-color: #738290;
    box-shadow: 0 0 3px #738290;
  }
  50% {
    background-color: #a1b5d8;
    box-shadow: 0 0 15px #a1b5d8;
  }
  100% {
    background-color: #738290;
    box-shadow: 0 0 3px #738290;
  }
}

@keyframes mover {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-5px);
  }
}
